body{
    background-image: url(imagenes/3.jpg);
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    width: 100px;
    height: 100px;
}
ul li:first-child{
    background-color: #ffffff;
}
ul li:nth-child(2){
    background-color: #ffffff80;
}
ul li:nth-child(3){
    background-color: #ffffff60;
}
ul li:nth-child(4){
    background-color:#ffffff40;
}
ul li:nth-child(5){
    background-color:#ffffff20;
}