body{
 
    background-image: url("https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c325.png");
}
/*body{
    background-image: url("https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c325.png"); bakgraund-repeat: repeat-x;
    
}
body{
    background-image: url("https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c325.png"); bakgraund-repeat: repeat-y;

}
body{
    background-image: url("https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c325.png"); bakgraund-repeat: no-repeat;
   
}
body{
    background-image: url("https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c325.png"); bakgraund-repeat: repeat;
    
}
body{
    background-image: url("hhttps://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c325.png"); bakgraund-size: 100px 100px;
    
}
*/
