body{
    background-image: url("https://cdn-e360.s3-sa-east-1.amazonaws.com/las-5-plataformas-de-streaming-ideales-para-ver-anime-large-GtPhgNYLdn.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    background-image: url("https://cdn-e360.s3-sa-east-1.amazonaws.com/las-5-plataformas-de-streaming-ideales-para-ver-anime-large-GtPhgNYLdn.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
}
